*{margin: 0px; padding: 0px;}
			body {
					font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
					min-width: 768px;
					font-size: 17px;
			}
			
			.navbar-fxied-top {
				top: 0;
				border-width: 0 0 1px;
			}
			
			.navbar-fxied-top {
				background-color: blue;
				height: 58px;
				width: 100%;
				max-width: 1440px;
				z-index: 9;
				position: fixed;
				right: 0;
				left: 0;
				z-index: 1030;				
			}
			
			.side-tool {
				position: fixed;
				bottom: 40px;
				right: 40px;
				z-index: 9;
			}