body {
	font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	min-width: 768px;
	font-size: 17px;
	margin: 0px; padding: 0px;
}
	
.navbar-fxied-top {
	top: 0;
	border-width: 0 0 1px;
}
	
.navbar-fxied-top {
	height: 58px;
	width: 100%;
	max-width: 1440px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	border-bottom: 1px solid #e7e7e7;				
}
	
.side-tool {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9;
}

.logo {
	display: inline-block;
	vertical-align: top;
	height: 58px;
	padding: 0px 25px 0px 20px
}

.logo:hover{
	background-color: #eee;
}

.navbar-collapse {
	display: inline-block;
	vertical-align: top;
}

.search {
	border: 1px solid #EEEEEE;
	height: 30px;
	width: 300px;	
	border-radius: 10px;
}

#serach-input {
	outline: none;
	border: 1px solid #F3F3F3;
}


.side-tool {
	display: block;
	height: 48px;
	width: 48px;
	border: 1px solid #EEEEEE;
}

.side-tool:hover{
	background-color: #f3f3f3;
}
	
