*{
	margin: 0px;
	padding: 0px;
}
body {
	font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	min-width: 768px;
	font-size: 17px;
	margin: 0px; padding: 0px;
}

.navbar-fxied-top {
	top: 0;
	border-width: 0 0 1px;
}
	
.navbar-fxied-top {
	height: 58px;
	width: 100%;
	/*max-width: 1440px;*/
	background-color: #fffdfd;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	border-bottom: 1px solid #e7e7e7;				
}
	
.side-tool {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9;
}

.logo {
	display: inline-block;
	vertical-align: top;
	height: 58px;
	padding: 0px 25px 0px 20px
}

.logo:hover{
	/*background-color: #eee;*/
}

.navbar-collapse {
	display: inline-block;
	vertical-align: top;
}

.search {
	border: 1px solid #EEEEEE;
	height: 30px;
	width: 300px;	
	border-radius: 10px;
}

#serach-input {
	outline: none;
	border: 1px solid #F3F3F3;
}


.side-tool {
	display: block;
	height: 48px;
	width: 48px;
	border: 1px solid #EEEEEE;
}

.side-tool:hover{
	background-color: #f3f3f3;
}
	
.container {
	position: relative;
	top: 58px;
	margin: 0 auto;
	width: 1100px;
	/*background-color: cadetblue;*/
}

.container-div {
	display: inline-block;
	vertical-align: top;
	width: 580px;
	/*border: 2px solid green;*/
}

/**正在更新的代码*/
#content-flag {
	/*background-color: blanchedalmond;*/
	width: 400px;
	height: 50px;
}

.content-content {
	display: inline-block;
	vertical-align: top;
	height: 136px;
	width: 463px;
	padding-top: 2px;
	padding-left: 2px;
	margin-top: 5px;
	border:1px solid #eae4e4;
	/*background-color: saddlebrown;*/
}

.author {
	width: 463px;
	height: 32px;
	/*background-color: blue;*/
}

.avater{
	width: 32px;
    height: 32px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.avater img {
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

.name {
	display: inline-block;
    vertical-align: top;
	width: 120px;
	height: 32px;
	/*background-color: greenyellow;*/
	text-align: left;
}

.blue-link {
	display: inline-block;
    vertical-align: top;
    height: 26px;
    width: 117px;
    padding-top: 6px;
    padding-left: 3px;
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: 100;
}

.title{
	display: block;
    height: 32px;
    width: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-align: left;
    text-decoration: none;
    color: black;
}

.abstract {
	display: block;
	width:463px;
	height:72px;
	/*background-color:red;*/
}

.wrap-img {
	position: absolute;
    top: 50%;
    margin-top: -68px;
    right: 0;
    width: 150px;
    height: 120px
}

.content-img {
	margin-top: 5px;
	display: inline-block;
	vertical-align: top;
	height: 136px;
	width: 100px;
	/*background-color: saddlebrown;*/
}

.content-img img {
    border-radius: 4px;
    width: 100px;
    height: 136px;
    border: 1px solid #f0f0f0;
}

.board {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	height: 284px;
	width: 280px;
	/*background-color: blue;*/
	margin-left: 20px;
}

.board align-self: ; {
	width: 280px;
	height: 50px;
}

.board img {
	width: 280px;
	height: 50px;
}
