out/*
out/artifacts/ScoreWeb_war_exploded/css/index.css
out/artifacts/ScoreWeb_war_exploded/img/brand_tap.png
out/artifacts/ScoreWeb_war_exploded/img/up.png
out/artifacts/ScoreWeb_war_exploded/js/jquery-1.11.0.min.js
*.class
out/artifacts/ScoreWeb_war_exploded/WEB-INF/lib/aopalliance-1.0.jar
out/artifacts/ScoreWeb_war_exploded/WEB-INF/web.xml
out/artifacts/ScoreWeb_war_exploded/WEB-INF/web.xml
*.project
.idea/*
ScoreWeb/target/*
Scoreweb/ScoreWeb.iml
