<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人信息</title>
        <link rel="icon" href="/img/sys/icon.png" type=" image/png" >
		<link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="/css/login.css" />
	</head>
	<body>
		<!--开头的页面-->
		<nav class="navbar nav-default navbar-fxied-top">
			<div class="width-limit">
				<a href="/index.html" class="logo">
					<img src="/img/sys/logon.png" alt="logo"/>
				</a>

				<div class="nav-bar">
					<form target="_blank" accept-charset="UTF-8" method="get">
						<div class="search-border">
							<input type="text" name="q" id="q" placeholder="搜索" class="search-input" />
							<a href="#" class="search-btn">
								<img src="/img/sys/search_btn.png" />
							</a>
						</div>
					</form>
				</div>

				<div class="login-btn">
                    <a class="btn log-in" href="/view/sign/login.html" target="_blank">
                        登录
                    </a>
					<a class="btn sign-up" href="/view/sign/signup.html" target="_blank">
						注册
					</a>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<!--用于存放banner图-->
			<!--<div id="container-banner">
			</div>-->
			<div class="subhead-heading">
				<span class="content-flag" style="font-size:20px;">个人信息</span>
			</div>

			<div class="container-div">
                <form id="inputForm">
                    <!--参考github的个人信息修改-->
                    <dl class="form-group">
                        <dt>姓名</dt>
                        <dd>
                            <input type="text" value="" name="username"/>
                        </dd>
                    </dl>

                    <dl class="form-group">
                        <dt>昵称</dt>
                        <dd>
                            <input type="text" value="" name="nickname"/>
                            <p class="note">请选择一个恰当好记的名称</p>
                        </dd>
                    </dl>

                    <dl class="form-group">
                        <dt>email</dt>
                        <dd>
                            <input type="text" value="" name="email"/>
                        </dd>
                    </dl>

                    <dl class="form-group">
                        <dt>个人简介</dt>
                        <dd>
                            <textarea type="text" value="" name="bio"></textarea>
                            <p class="note">个人简介差不多就行了，不要太长哦</p>
                        </dd>
                    </dl>

                    <dl class="form-group">
                        <dt>年级</dt>
                        <dd>
                            <input type="text"  value="" name="grade"/>
                        </dd>
                    </dl>
                    <dl class="form-group">
                        <dt>简要地址</dt>
                        <dd>
                            <input type="text" value="" name="area"/>
                            <p class="note">宿舍楼号，除了你别人是看不到的哦</p>
                        </dd>
                    </dl>
                    <p>
                        <div class="sign update-button">保存修改</div>
                    </p>
                </form>
			</div>
			
			<div class="board">
                <div id="board-img">
                    <img src="/img/profile/chenrui.png" />
                </div>
                <div id="board-button" >
                    <input type="button" value="更改照片" />
                </div>
			</div>
		</div>

	</body>
</html>
<script type="text/javascript" src="/js/jquery-1.12.0.min.js" ></script>
<script type="text/javascript" src="/js/jquery-ruirui.js" ></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript">
    $(function() {
        $(".search-border").animateLength(380, 400);
        $(".search-input").animateLength(345, 400);

        $(".sign").click(function() {
            /*var index = layer.load(1, {shade:[0.1, "#000"]});*/
            var param = $("#inputForm").serialize();
            layer.msg("后台正在更新中，尽情期待！");
        })
    })
</script>
