/**登录页面 弹框使用*/
body{
    width: 100%;
    min-height: 100%;
}

.login-bg {
   background: url(/img/sys/login_back.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.log-content {
	/*position: absolute;*/
    margin: 125px auto 0 auto;
	min-height: 420px;
    max-width: 355px;
    border-radius: 4px;
	background-color: #ffffff;
}

.log-content input {
	outline: none;
	border: solid 1px #c8c8c8;
	border-radius: 4px;
	width: 340px;
	height: 40px;
    font-size: 14px;
    padding-left: 8px;
}

#inputForm ul li {
	display: block;
	margin-bottom: 5px;
	margin-left: 2px;
}

.sign {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    outline: none;
    color: black;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    width: 351px;
    border: 1px solid #d8d4d4;
}

.signup-button {
    border: 1px solid #febb50;
}

.signup-button:hover {
    background-color: #febb50;
}

.signin-button {
    border: 1px solid #c79efe;
}

.signin-button:hover {
    background-color: #c79efe;
}

.update-button {
    width: 300px;
}

.update-button:hover {
    color: #ffffff;
    background-color: #2188FF;
    box-shadow: 0 0 6px #2188FF;
}

.tile {
	/*padding:10px 30px;*/
	background-color: #5FB878;
	display: block;
	height: 50px;
	width: inherit;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #ffffff;
}

.center {
	margin-top: 180px;
	text-align: center;	
}

.center a {
	display: block;
}

.center span {
	display: block;
	margin-top: 30px;
	font-size: 25px;
	color: #97c5de;
}

#body_404 {
	background-color: #f9f9f9;
}

.log-back {
	display: inline-block;
	vertical-align: top;
	background-color:blue;
	position:absolute;
	height: 271px;
	width: 507px;
	bottom: 40px;
	left: 40px;
}

.log-back img {
	display: inline-block;
}

.footer {
    position: fixed;
    height: 20px;
    border-top: 1px solid #d8d4d4;
    left: 0;
    right: 0;
    width: 100%;
    background-color:#ffffff;
    bottom: 0;
}

.footer-content {
    font-size:14px;
    color:#b1b1b1;
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 810px;
    background-color: blue;
    text-align: center;
}

.footer-content a {
    font-size:14px;
    color:#b1b1b1;
}
