@charset "UTF-8";

.board .profile-avater {
    display: block;
    height:64px;
    width: inherit;
    /*background-color: red;*/
}

.board .profile-avater img{
    display: block;
    height:64px;
    width: 64px;
    border-radius: 50%;
    margin: 0 auto;
}

/*.profile-name span, .profile-abstract span{
    padding-left: 5px;
}*/

.profile-name {
    /*background-color: #c8c8c8;*/
    display: block;
    height: 64px;
    line-height: 64px;
}

.profile-name span {
    font-size: 23px;
    font-style: normal;
    font-weight: 100;
    color: black;
}

.profile-abstract {
    display: block;
    line-height: 32px;
    /*background-color: #97c5de;*/
    border-bottom: 1px solid #d8d4d4;
}

.profile-abstract span {
    font-size:16px;
}

/**profile的setting*/
.board #board-img img{
    display: block;
    border-radius: 2px;
    height:200px;
    width:200px;
    margin:0 auto;
}

.board #board-button input{
    display: block;
    background-color: #ffffff;
    width: 198px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 2px;
    margin: 0 auto;
    border: 1px solid #b7b3b3;
    cursor:pointer;
    margin-top:5px;
}

.board #board-button input:hover {
    background-color:#b7b3b3;
}

#inputForm .form-group {
    min-height: 80px;
    width: 484px;
    /*background-color:blue;
    margin-top: 2px;*/
}

#inputForm .form-group input {
    outline:none;
    height:32px;
    width:440px;
    border:1px solid #d8d4d4;
    border-radius: 2px;
    background-color: #fafbfc;
    padding-left:4px;
}

#inputForm .form-group textarea {
    width:440px;
    height:50px;
    border:1px solid #d8d4d4;
    border-radius: 2px;
    outline:none;
    background-color: #fafbfc;
    padding-left:4px;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

#inputForm .form-group input:focus,
#inputForm .form-group textarea:focus {
    box-shadow: 0 0 6px #2188FF;
}

#inputForm .form-group .note {
    min-height: 17px;
    font-size: 12px;
    color:#586069;
}