<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
        <link rel="icon" href="/img/sys/icon.png" type=" image/png" >
        <link rel="stylesheet" href="/css/index.css" />
        <script type="text/javascript">
            //根据屏幕大小是否加载手机版css
            var w=screen.width;
            if(w<=450)document.write('<link rel="stylesheet" href="/css/video-mobile.css" />');
        </script>
	</head>
	<body>
		<!--开头的页面-->
		<nav class="navbar nav-default navbar-fxied-top">
			<div class="width-limit">
				<a href="/index.html" class="logo">
					<img src="/img/sys/logon.png" alt="logo"/>
				</a>
			</div>
		</nav>

		<div class="video-mobile">

		</div>



        <div class="footer">
            <div class="footer-content">
                你好
            </div>
        </div>
	</body>
</html>
<script type="text/javascript" src="/js/jquery-1.12.0.min.js" ></script>
<script type="text/javascript" src="/js/jquery-ruirui.js" ></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript">

</script>
