<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户注册</title>
        <link rel="icon" href="/img/sys/icon.png" type=" image/png" >
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/login.css" />
	</head>
	<body>
		<!--开头的页面-->
		<nav class="navbar nav-default navbar-fxied-top">
			<div class="width-limit">
				<a href="../../index.html" class="logo">
					<img src="../../img/sys/logon.png" alt="logo"/>
				</a>
				
				<div class="nav-bar">
					<form target="_blank" accept-charset="UTF-8" method="get">
						<div class="search-border">
							<input type="text" name="q" id="q" placeholder="搜索" class="search-input" />
							<a href="#" class="search-btn">
								<img src="/img/sys/search_btn.png" />
							</a>
						</div>
					</form>
				</div>
				
				<div class="login-btn">
                    <a class="btn log-in" href="/view/sign/login.html">
                        登录
                    </a>
					<a class="btn sign-up" href="#">
						注册
					</a>
				</div>
			</div>
		</nav>
		
		<div class="login-div">
		    <!--以弹框的形式弹出页面-->
		    <div class="log-content">
                <div class="tile">
                    	用户注册
                </div>
                <form id="inputForm">
                    <ul>
                        <li>
                            <input type="text" class="username" name="username" placeholder="昵称" onchange="check(this)"/>
                        </li>
                        <li>
                            <input type="text" class="email" name="email" placeholder="邮箱" onchange="check(this)"/>
                        </li>
                        <li>
                            <input type="password" class="password" name="password" placeholder="设置密码" onchange="check(this)"/>
                        </li>
                        <li>
                            验证码
                        </li>
                    </ul>
                    <div class="sign signup-button">注册</div>
                </form>
			</div>	
		</div>

        <div class="footer">
            <div class="footer-content">
                copyright 2017 marsdl.com all rights reserved
                <a href="http://www.miibeian.gov.cn/">皖ICP备17022218</a>
            </div>
        </div>
	</body>
</html>
<script type="text/javascript" src="/js/jquery-1.12.0.min.js" ></script>
<script type="text/javascript" src="/js/jquery-ruirui.js" ></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript">

        function check(obj) {
            var formData = $(obj).val();
            if(!formData) {
                $(obj).css({"border":"1px solid red"});
                $(obj).attr("placeholder", "请填写信息");
                return false;
            } else {
                $(obj).css({"border":"1px solid #c8c8c8"});
            }
            if($(obj).attr("name") == "email") {
                var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
                if(!reg.test(formData)) {
                    $(obj).css({"border":"1px solid red"});
                    return false;
                }
            }
        }

		window.onload = function() {
			//进行非空验证，校验
			$("#inputForm").find(".username").change(function() {
				/*$(this).css("border", "solid 1px #c8c8c8");*/
				/*$(this).css({"border":"1px solid red", "color":"red"})*/
			});
			
			$("#inputForm").find(".password").change(function() {
				
			});

			$(".sign").click(function() {
				debugger;
                var index = layer.load(1, {shade:[0.1, "#000"]});
                //验证表单
                var formInput = $("#inputForm input");
                var formInputFlag = 0;
                for(var i=0; i < formInput.size(); i++) {
                    if(!check(formInput[i])) {
                        formInputFlag++;
                    }
                }
                if(formInputFlag != 0) {
                    layer.close(index);
                    return false;
                }
                var param = $("#inputForm").serialize();
                $.ajax({
                    "type": "POST",
                    "url": "/user/save",
                    "contentType": "application/x-www-form-urlencoded;charset=UTF-8",
                    "async":  true,
                    "dataType": "json",
                    "data": param,
                    "success": function (result) {
                        layer.close(index);
                        layer.alert(result.code);
                    },
                    "error": function (result) {
                        layer.close(index);
                    }
                });

				/*$("#inputForm").serializeJSON();
				$("#inputForm").serialize();*/
				/*var detail = $("#inputForm").serializeJSON();*/
				/*String jsonString = JSON.stringify(detail);*/
				/*var jsonString = JSON.stringify(detail);*/
			})
		};
		
		$(function() {
           $(".search-border").animateLength(380, 400);
		  $(".search-input").animateLength(345, 400); 
		})
</script>
