<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="icon" href="/img/sys/icon.png" type=" image/png">
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <style type="text/css">
        #logincode {
            display: inline-block;
            vertical-align: top;
            width: 120px;
            /*border: none*/
        }
        #code {
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body class="login-bg">
<!--开头的页面-->
<nav class="navbar nav-default navbar-fxied-top" style="background-color: transparent">
    <div class="width-limit">
        <a href="../../index.html" class="logo">
            <img src="../../img/sys/logon.png" alt="logo"/>
        </a>

        <div class="login-btn">
           <!-- <a class="btn log-in" href="/view/sign/login.html">
                登录
            </a>-->
            <!--<a class="btn sign-up" href="#">
                注册
            </a>-->
        </div>
    </div>
</nav>

<!--以弹框的形式弹出页面-->
<div class="log-content">
    <div class="tile">
        用户注册
    </div>
    <form id="inputForm">
        <ul>
            <li>
                <input type="text" class="username" v-model="username" placeholder="昵称" />
            </li>
            <li>
                <input type="text" class="email" v-model="email" placeholder="邮箱" />
            </li>
            <li>
                <input type="password" class="password" v-model="password" placeholder="设置密码"/>
            </li>
         <!--   <li>
                <input type="text" v-model="logincode" id="logincode" placeholder="输入验证码"/>
                <a href="javascript:void(0);" @click="refreshCode" ><img id="code" alt="如果看不清，刷新图片" src="/user/getCode" /></a>
            </li>-->
        </ul>
        <div class="sign signup-button" @click="signup">注册</div>
        <div class="erro-tips">
            {{error}}
        </div>
    </form>
</div>
</body>
</html>
<script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/js/vue/vue.min.js"></script>
<script type="text/javascript" src="/js/jquery-ruirui.js"></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript" src="/js/view/sign/signup.js"></script>