* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", "Helvetica Neue", Tahoma, Geneva, sans-serif;
    color: #757575;
}

ul {
    list-style: none;
}
ul {
    margin-top:-35px;;
}
li {
    margin-left:300px ;
    width: 100%;
    text-align: left;
    display: flex;
    height: 30px;
    align-items: center;
}

header {
    background: url("/web/images/partnerApply/partnerApply-bg.png");
    height: 230px;
}

.logo {
    margin: 0 auto;
    width: 1200px;
    height: 142px;
    padding-top: 88px;
}

.logo img {
    display: block;
    float: left;
}

.logo span {
    color: #fff;
    display: block;
    float: left;
    line-height: 60px;
    word-spacing: 12%;
    font-size: 54px;
    height: 54px;
    letter-spacing: 7px;
    margin: 0 30px;
}

.entry {
    width: 1200px;
    margin: 100px auto;
}

.row {
    width: 100%;
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-align: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}
.row > div{
    width: 300px;
}
.row > input,select,textarea{
    width: 300px;
    display: inline-block !important;
    height: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.alert:focus {
    box-shadow: 0 0 20px red;
}

.input-style:focus {
    box-shadow: 0 0 20px #0033CC;
}

.select-style:focus.alert:focus {
    box-shadow: 0 0 20px red;
}

.input-style:focus.alert:focus {
    box-shadow: 0 0 20px red;
}

.select-style:focus.alert:focus:valid {
    box-shadow: 0 0 20px #0033CC;
}

.input-style:focus.alert:focus:valid {
    box-shadow: 0 0 20px #0033CC;
}

.select-style:focus {
    box-shadow: 0 0 20px #0033CC;
}

.input-style {
    display: block;
    width: 300px;
    min-width: 276px;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.select-style {
    display: block;

    width: 300px;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.need::after {
    color: red;
    content: '*';
}
.left{
    width: 300px;
}
.row > div {
    width: 300px;
    text-align: right;
    display: inline-block;
}
.row > div > label {
    display: inline-block;
    margin: 12px 35px 12px 0;
}
.btn {
    display: block;
    /*background-color: #FF6633;*/
    /*border: 1px solid #FF6633;*/
    background-color: rgba(0, 204, 255, 0.75);
    border: 1px solid rgba(0, 204, 255, 0.75);
    height: 45px;
    width: 120px;
    border-radius: 4px;
    color: #fff;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}
.row .btn {
    height: 45px;
}
.alert {
    text-shadow: red;
    border: 1px solid red;
    box-shadow: red;
    outline: none;
}

.alert:after {
    content: "请输入";
}

.alert:valid {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.btn:hover {
    /*background-color: #FFFFFF;*/
    /*border: 1px solid #454545;*/
    color: #fff;
    background-color: #f9cd76;
    border: 1px solid #f9cd76;
}

.hidden {
    display: none;
}
h2{
    margin-left: 200px;
    margin-bottom: 25px;
    font-weight: normal;
    /*color: #454545;*/
    color: #757575;
}
