<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
    <link rel="icon" href="/img/sys/icon.png" type=" image/png" >
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/article.css" />
    <link rel="stylesheet" href="/js/css/layui.css" />
</head>
<body>
<!--开头的页面-->
<nav class="navbar nav-default navbar-fxied-top">
    <div class="width-limit">
        <a href="/index.html" class="logo">
            <img src="/img/sys/logon.png" alt="logo"/>
        </a>
        <div class="login-btn">
            <div class="user" style="display: none" id="nav_user">
                <a :href="url" class="avater" target="_blank">
                    <img :src="user.photo" />
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/sys/logout">退出</a></li>
                </ul>
            </div>
            <a class="btn log-in" style="display: none" href="/view/sign/login.html" target="_blank">
                登录
            </a>
            <!--<a class="btn sign-up" style="display: none" href="/view/sign/signup.html" target="_blank">
                注册
            </a>-->
            <a class="btn add-artile"  target="_blank" href="/authview/article/add-article.html">
                添加信息
            </a>
        </div>
    </div>
</nav>

<!--文章列表-->
<div class="note" id="_note">
    <div class="post">
        <div class="atrtile">
            <h1 class="atrtile-title">
                {{title}}
            </h1>
            <div class="author">
                <a href="/view/profile/profile.html" class="avater" target="_blank">
                    <img :src="user.photo" />
                </a>
                <div class="info">
                    <span class="name">
                        <a href="/view/profile/profile.html">{{user.username}}</a>
                        <span class="blue-link time">{{createDate}}</span>
                    </span>
                </div>
            </div>
            <div class="show-content">

            </div>
        </div>
    </div>
    <!--<input style="display: none" id="imgsrc" v-model="imgsrc" />-->
    <img v-bind:src="imgsrc" id="imgsrc" style="display: none; height: 516px; width: 516px" />
</div>

<!--底边设置-->
<div class="pulllog-box">
    <div style="height:40px; width:80px; margin:10px auto " >
        <button class="layui-btn layui-btn-normal" id="imgsrcbutton">显示价格二维码</button>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="/js/jquery-1.12.0.min.js" ></script>
<script type="text/javascript" src="/js/vue/vue.min.js"></script>
<script type="text/javascript" src="/js/jquery-ruirui.js" ></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript" src="/js/layui.js"></script>
<script type="text/javascript" src="/js/view/article/article.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#imgsrcbutton").click(function () {
            var imgsrc = $("#imgsrc").val();
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: '516px',
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: $("#imgsrc")
            });
        })
    })
</script>