/**登录页面 弹框使用*/
.login-div {
	position: relative;
	display: block;
	height: 600px;
	margin-top: 58px;
    background-image: url(../img/sys/log-back.png);
	/*background-color: beige;*/
    background-repeat:no-repeat;
}

.log-content {
	/*position: absolute;*/
	display: inline-block;
	vertical-align: top;
	height: 450px;
	width: 350px;
	float: right;
	margin-top: 40px;
	margin-right: 120px;
	/*background-color: #1E9FFF;*/
}

.log-content input {
	outline: none;
	border: solid 1px #c8c8c8;
	border-radius: 4px;
	width: 345px;
	height: 40px;
    padding-left: 4px;
}

.log-content input:focus {
    box-shadow: 0 0 6px #2188FF;
}

#inputForm ul li {
	display: block;
	margin-bottom: 5px;
	margin-left: 2px;
}

.sign {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    outline: none;
    color: black;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #d8d4d4;
}

.signup-button {
    width: 351px;
    border: 1px solid #c79efe;
}

.signup-button:hover {
    background-color: #c79efe;
}

.signin-button {
    width: 351px;
    border: 1px solid #febb50;
}

.signin-button:hover {
    background-color: #febb50;
}

.update-button {
    width: 300px;
}

.update-button:hover {
    color: #ffffff;
    background-color: #2188FF;
    box-shadow: 0 0 6px #2188FF;
}

.tile {
	padding:10px 30px;
	/*background-color: #5FB878;*/
	display: block;
	height: 30px;
	width: 80px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 20px;	
}

.center {
	margin-top: 180px;
	text-align: center;	
}

.center a {
	display: block;
}

.center span {
	display: block;
	margin-top: 30px;
	font-size: 25px;
	color: #97c5de;
}

#body_404 {
	background-color: #f9f9f9;
}

.log-back {
	display: inline-block;
	vertical-align: top;
	/*background-color:blue;*/
	position:absolute;
	height: 271px;
	width: 507px;
	bottom: 40px;
	left: 40px;
}

.log-back img {
	display: inline-block;
}

.footer {
    position: fixed;
    height: 20px;
    border-top: 1px solid #d8d4d4;
    left: 0;
    right: 0;
    width: 100%;
    background-color:#ffffff;
    bottom: 0;
}

.footer-content {
    font-size:14px;
    color:#b1b1b1;
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 500px;
}

.footer-content a {
    font-size:14px;
    color:#b1b1b1;
}
